<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            transition: background-image 1s ease;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .form-container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 30px;
        }
        h1 {
            color: #343a40;
            margin-bottom: 20px;
        }
        .btn-custom {
            background-color: #343a40;
            color: #fff;
        }
        .btn-custom:hover {
            background-color: #495057;
        }
        .form-label {
            font-weight: bold;
        }
        .image-preview {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 form-container">
                <h1 class="text-center">Edit Data</h1>
                <form action="/listing/<%= db._id %>?_method=PATCH" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="available" class="form-label"><b>Total bed</b></label>
                            <input min="1" value="<%= db.general.avaliable %>" type="number" placeholder="available" name="listing[general.avaliable]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="capacity" class="form-label"><b>Booked bed</b></label>
                            <input min="1" value="<%= db.general.capacity %>" placeholder="capacity" name="listing[general.capacity]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="available" class="form-label"><b>Total bed</b></label>
                            <input min="1" value="<%= db.female.avaliable %>" type="number" placeholder="available" name="listing[female.avaliable]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="capacity" class="form-label"><b>Booked bed</b></label>
                            <input min="1" value="<%= db.female.capacity %>" placeholder="capacity" name="listing[female.capacity]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="available" class="form-label"><b>Total bed</b></label>
                            <input min="1" value="<%= db.cabin.avaliable %>" type="number" placeholder="available" name="listing[cabin.avaliable]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="capacity" class="form-label"><b>Booked bed</b></label>
                            <input min="1" value="<%= db.cabin.capacity %>" placeholder="capacity" name="listing[cabin.capacity]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid number.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-sm-8">
                        <label for="title" class="form-label"><b>Title</b></label>
                        <input value="<%= db.title %>" placeholder="Write The hospital Name" name="listing[title]" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label"><b>Description</b></label>
                        <textarea name="listing[description]" placeholder="write a description" class="form-control" required><%= db.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid description.
                        </div>
                    </div>
                    <div class="mb-3">
                        <img src="<%= originalUrl %>" alt="Current Image" class="image-preview">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label"><b>Upload new image:</b></label>
                        <input type="file" name="listing[image]" class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid image.
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="lowprice" class="form-label"><b>Low Price</b></label>
                            <input type="number" value="<%= db.lowprice %>" placeholder="low price" name="listing[lowprice]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid price.
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="highprice" class="form-label"><b>High Price</b></label>
                            <input type="number" value="<%= db.highprice %>" placeholder="high price" name="listing[highprice]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid price.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-8">
                            <label for="location" class="form-label"><b>Location</b></label>
                            <input type="text" placeholder="write the location" value="<%= db.location %>" name="listing[location]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid location.
                            </div>
                        </div>
                        <div class="mb-3 col-4 mt-2">
                            <label for="country" class="form-label"><b>Country</b></label>
                            <input type="text" placeholder="country name" value="<%= db.country %>" name="listing[country]" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-custom"><b>Edit</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // JavaScript for changing background images
        const images = [
            'url("https://source.unsplash.com/1600x900/?hospital")',
            'url("https://source.unsplash.com/1600x900/?healthcare")',
            'url("https://source.unsplash.com/1600x900/?medical")'
        ];
        let currentImageIndex = 0;

        function changeBackgroundImage() {
            document.body.style.backgroundImage = images[currentImageIndex];
            currentImageIndex = (currentImageIndex + 1) % images.length;
        }

        setInterval(changeBackgroundImage, 5000);
        changeBackgroundImage(); // Initial call to set the first background image
    </script>
</body>
</html>
